$font-family-montserrat: "Montserrat", sans-serif;
$main-color: #000;
$second-color: #FF699F;
$main-font-size: 16px;
$container-widths: 1296px;
$container-padding-lg: 20px;
$container-padding-md: 16px;